---
import Layout from '../layouts/Layout.astro';
import TeachingCard from '../components/TeachingCard.astro';
import Nav from '../components/Nav.astro';
import '../styles/common.css'
import teachData from '../data/teaching.json';
---

<Layout title="Phoebe Friesen - Teaching">
	
    <Nav />		
	
	<main>

		<ul role="list" class="link-card-grid">
			{teachData.map((data) => 
			<TeachingCard 
				title = {data.title}
				title1 = {data.title1}
				title2 = {data.title2}
				title3 = {data.title3}
				title4 = {data.title4}
				title5 = {data.title5}
				title6 = {data.title6}
				image = {data.imageUrl}
				independent = {data.independent}
				independent2 = {data.independent2}
				contributing = {data.contributing}
                teaching = {data.teaching}
                guest = {data.guest}
				>
			</TeachingCard>
			)}
		</ul>
	</main>
</Layout>

<style>
	ul{
		list-style-type: none;
	}
</style>
