---
import Layout from '../layouts/Layout.astro';
import TeachingCard from '../components/TeachingCard.astro';
import Nav from '../components/Nav.astro';
import '../styles/common.css'
import teachData from '../data/teaching.json';
---

<Layout title="Teaching | Phoebe Friesen">
	
    <Nav />		
	
	<main>

		<ul role="list" class="link-card-grid">
			{teachData.map((data) => 
			<TeachingCard 
				image = {data.imageUrl}

				maintitle = {data.maintitle}
				subtitle1 = {data.subtitle1}
				subtitle2 = {data.subtitle2}
				subtitle3 = {data.subtitle3}
				
				
                section1 = {data.section1}
                section2 = {data.section2}
				section3 = {data.section3}
                
				>
			</TeachingCard>

			<TeachingCard 
				image = {data.imageUrl}

				maintitle = {data.maintitle2}
				subtitle1 = {data.subtitle3}
				subtitle2 = {data.subtitle4}
				subtitle3 = {data.subtitle5}
		
                section1 = {data.section3}
                section2 = {data.section4}
                section3 = {data.section5}
				>
			</TeachingCard>
			)}
		</ul>
	</main>
</Layout>

<style>
	ul{
		list-style-type: none;
	}
</style>
