---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { maintitle, subtitle1, subtitle2, subtitle3, subtitle4, subtitle5, subtitle6, section1, section2, section3, section4, section5} = Astro.props;
---

<div class="link-card">
	
    <div class="heading-div">
        <h2> {maintitle} </h2>
    </div>  

    <div class="heading-div">
        <h3> {subtitle1} </h3>
    </div>
    
    {section1.map((sec1) => (
        <div class="citation-holder">
                <li><ul>
                    <li class="course-name"><h4>{sec1.text}</h4></li>
                    <li class="desc">{sec1.desc}</li>
                    <a href={sec1.link}> 
                        <li class="further">{sec1.further}</li>
                    </a>
                </ul></li> 
        </div>
    ))}
    
    <div class="heading-div">
        <h3> {subtitle2} </h3>
    </div>

    {section2.map((sec2) => (
        <div class="citation-holder">
                <li><ul>
                    <li class="course-name">{sec2.text}</li>
                    <li class="desc">{sec2.desc}</li>
                    <a href={sec2.link}> 
                        <li class="further">{sec2.further}</li>                    
                    </a>
                </ul></li> 
        </div>
    ))}

    <div class="heading-div">
        <h3> {subtitle4} </h3>
    </div>

    {section3.map((sec3) => (
        <div class="citation-holder">
                <li><ul>
                    <li class="course-name">{sec3.text}</li>
                    <li class="desc">{sec3.desc}</li>
                    <a href={sec3.link}> 
                        <li class="further">{sec3.further}</li>                    
                    </a>
                </ul></li> 
        </div>
    ))}
</div>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
	}

	.link-card {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border-radius: 0.35rem;
		color: var(--text-color);
		background-color: white;
		opacity: 0.8;
	}
    
    .course-name {
        list-style-type: none;
    }

    .desc {
        margin-left: 2em;
        list-style-type: none;
    }
    .further{
        margin-left: 4em;
        list-style-type: none;
    }
	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}
    .heading-div{
        margin-top: 1em;
    }
    .citation-holder {
        margin: 1em;
    }

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 {
		color: #4f39fa;
	}

	.link-card:is(:hover, :focus-within) h2 span {
		will-change: transform;
		transform: translateX(2px);
	}
</style>
